Run the code cell below with the ▶| button above to set up this notebook, or type `SHIFT-ENTER`:

In [1]:
!pip install --no-cache-dir -U -q folium
import pandas as pd
import geojson
import geopy
import numpy as np
import matplotlib.pyplot as plt
import folium
from datascience import *
from IPython.display import HTML, display, IFrame
from folium import plugins
%matplotlib inline
from sklearn import linear_model
from scipy import stats
import os
import ipywidgets as widgets
from soc_module import *
import random
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
sns.set()

from datetime import datetime

# Sociology 130 Module: "The Neighborhood Project"

Welcome to the data science part of your project! You have gathered data and entered it [here](https://goo.gl/forms/eY1mephilS6VqAT83) from your assigned census tracts.  Now it's time to explore our class data and quantify our observations using Python, a popular programming language used in data science. 

You won't need any prior programming knowledge to do this! The purpose of this module is not to teach you programming, but rather to show you the power of these tools and give you the intuition for how they work. It also allows us to quickly produce summarizations of our data!

## Table of Contents

0 - [Python and Jupyter Notebooks](#jupyter)

1 - [Class Data](#yourdata)

2 - [Our Metrics](#ourmetrics)

3 - [Census Data](#census)

4 - [Correlation](#correlation)

5 - [Regression](#regression)

# Part 0: Introduction to Python and Jupyter Notebooks: <a id='jupyter'></a>

## 1. Cells, Arithmetic, and Code
In a notebook, each rectangle containing text or code is called a *cell*.

Cells (like this one) can be edited by double-clicking on them. This cell is a text cell, written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  You don't need to worry about Markdown today, but it's a pretty fun+easy tool to learn.

After you edit a cell, click the "run cell" button at the top that looks like ▶| to confirm any changes. (Try not to delete the instructions.) You can also press `SHIFT-ENTER` to run any cell or progress from one cell to the next.

Other cells contain code in the Python programming language.  Running a code cell will execute all of the code it contains.

Try running this cell:

In [3]:
print("Hello, World!")

Hello, World!

We will now quickly go through some very basic functionality of Python, which we'll be using throughout the rest of this notebook.

### 1.1 Arithmetic
Quantitative information arises everywhere in data science. In addition to representing commands to `print` out lines, expressions can represent numbers and methods of combining numbers. 

The expression `3.2500` evaluates to the number 3.25. (Run the cell and see.)

In [6]:
3.2500

3.25

We don't necessarily always need to say "`print`", because Jupyter always prints the last line in a code cell. If you want to print more than one line, though, do specify "`print`".

In [7]:
print(3)
4
5

3

5

Many basic arithmetic operations are built in to Python, like `*` (multiplication), `+` (addition), `-` (subtraction), and `/` (division). There are many others, which you can find information about [here](http://www.inferentialthinking.com/chapters/03/1/expressions.html). Use parenthesis to specify the order of operations, which act according to PEMDAS, just as you may have learned in school. Use parentheses for a happy new year!

In [8]:
2 + (6 * 5 - (6 * 3)) ** 2 * (( 2 ** 3 ) / 4 * 7)

2018.0

### 1.2 Variables

We sometimes want to work with the result of some computation more than once. To be able to do that without repeating code everywhere we want to use it, we can store it in a variable with *assignment statements*, which have the variable name on the left, an equals sign, and the expression to be evaluated and stored on the right. In the cell below, `(3 * 11 + 5) / 2 - 9` evaluates to 10, and gets stored in the variable `result`.

In [9]:
result = (3 * 11 + 5) / 2 - 9

In [10]:
result

10.0

## 2. Functions

    
One important form of an expression is the call expression, which first names a function and then describes its arguments. The function returns some value, based on its arguments. Some important mathematical functions are:

| Function | Description                                                   |
|----------|---------------------------------------------------------------|
| `abs`      | Returns the absolute value of its argument                    |
| `max`      | Returns the maximum of all its arguments                      |
| `min`      | Returns the minimum of all its arguments                      |
| `round`    | Round its argument to the nearest integer                     |

Here are two call expressions that both evaluate to 3

```python
abs(2 - 5)
max(round(2.8), min(pow(2, 10), -1 * pow(2, 10)))
```

These function calls first evaluate the expressions in the arguments (inside the parentheses), then evaluate the function on the results. `abs(2-5)` evaluates first to `abs(3)`, then returns `3`.

A **statement** is a whole line of code.  Some statements are just expressions, like the examples above, that can be broken down into its subexpressions which get evaluated individually before evaluating the statement as a whole.

### 2.1 Calling functions

The most common way to combine or manipulate values in Python is by calling functions. Python comes with many built-in functions that perform common operations.

For example, the `abs` function takes a single number as its argument and returns the absolute value of that number.  The absolute value of a number is its distance from 0 on the number line, so `abs(5)` is 5 and `abs(-5)` is also 5.

In [11]:
abs(5)

5

In [12]:
abs(-5)

5

Functions can be called as above, putting the argument in parentheses at the end, or by using "dot notation", and calling the function after finding the arguments, as in the cell immediately below.

In [13]:
nums = [1, 2, 5]  # a list of items, in this case, numbers

In [14]:
nums.reverse()  # reverses the item order
nums

[5, 2, 1]

# Part 1: Class Data<a id='yourdata'></a>

We can read in the data you submitted through the form by asking Google for the form information and turning it into a table. Any of the confusing lines here are just fixing data formats so that Python can better understand our data:

In [3]:
class_data = pd.read_csv('data/SP18 Social Disorder.csv', index_col=None)
class_data['Census Tract'] = class_data['Census Tract'].apply(fix_tract)  # fix census tract data type

# rekey yes and no responses
for c in class_data.columns:
    if "Yes" in set(class_data[c]):
        class_data[c] = class_data[c].map({"Yes": 1, "No": 0})

# limit to submissions from Spring 2018
class_data['Timestamp'] = [datetime.strptime(time, '%m/%d/%Y %H:%M') for time in class_data['Timestamp']]
class_data = class_data[[time.year == 2018 for time in class_data['Timestamp']]]
class_data = class_data.reset_index().drop('index', axis = 1)

image_data = class_data.iloc[:, 24:]
#image_data = image_data.rename(columns = { 
#    'Full Address of Block Face in Image #1 (Street Number, Street Name, City, State, Zip Code). E.g.: 2128 Oxford Street, Berkeley, CA, 94704.': 'Full Address of Photo #1 Location',
#    'Full Address of Block Face in Image #2 (Street Number, Street Name, City, State, Zip Code). E.g.: 2128 Oxford Street, Berkeley, CA, 94704.': 'Full Address of Photo #2 Location',
#    'Full Address of Block Face in Image #3 (Street Number, Street Name, City, State, Zip Code). E.g.: 2128 Oxford Street, Berkeley, CA, 94704.': 'Full Address of Photo #3 Location',
#    'Full Address of Block Face in Image #4 (Street Number, Street Name, City, State, Zip Code). E.g.: 2128 Oxford Street, Berkeley, CA, 94704.': 'Full Address of Photo #4 Location',
#    'Full Address of Block Face in Image #5 (Street Number, Street Name, City, State, Zip Code). E.g.: 2128 Oxford Street, Berkeley, CA, 94704.': 'Full Address of Photo #5 Location'
#})

image_data['Census Tract'] = class_data['Census Tract']

#class_data = class_data.iloc[:, :24]
class_data

,Timestamp,Email Address,Name,Census Tract,"On a scale of 1 - 5, where 1 is ""None"" and 5 is ""A Lot"", how many empty beer or liquor bottles are visible in streets, yards, or alleys?","On a scale of 1 - 5, where 1 is ""None"" and 5 is ""A Lot"", how many cigarette or cigar butts or discarded cigarette packages are on the sidewalk or in the gutters?","On a scale of 1 - 5, where 1 is ""None"" and 5 is ""A Lot"", how many condoms are present on the sidewalk, in the gutters, or street of block face?","On a scale of 1 - 5, where 1 is ""None"" and 5 is ""A Lot"", how much garbage, litter, or broken glass in the street or on the sidewalks?",Are there abandoned cars in the neighborhood? How many do you see?,"On a scale of 1-5 where 1 is ""Friendly Responses / Greetings / Helpful"" and 5 is ""Treated with Suspicion"", How were you regarded by the people in the block face?",...,Other thoughts or comments for Image #5,Unnamed: 39,City,Zip Code,"Full Address of Block Face (Street Number, Street Name, City, State, Zip Code). E.g.: 2128 Oxford Street, Berkeley, CA, 94704.",Image #1 coordinates,Image #2 coordinates,Image #3 coordinates,Image #4 coordinates,Image #5 coordinates
0,2018-03-24 16:16:00,NaN,Samuel Schuder,4229,1,4,1,3,0,2,...,Heavy trash and litter on corner of Shattuck a...,NaN,NaN,NaN,NaN,"[37.8674192, -122.268315]","[37.86722049999999, -122.2688226]","[37.8676932, -122.2681347]","[37.8676932, -122.2681347]","[37.8676932, -122.2681347]"
1,2018-03-31 18:41:00,alexandreaoneill@icloud.com,Alexandrea O'Neill,4201,1,1,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,"[37.8948194, -122.2900065]","[37.8966442, -122.2890779]","[37.8947969, -122.2891585]","[37.8958582, -122.2888811]",NaN
2,2018-04-02 21:54:00,alexfigueroa@berkeley.edu,Alexandria Figueroa,4010,2,2,1,2,0,1,...,This graffiti and trash was right in front of ...,NaN,NaN,NaN,NaN,"[37.8327086, -122.2723672]","[37.8327086, -122.2723672]","[37.8322755, -122.2718355]","[37.8329072, -122.2730872]","[37.8321726, -122.2710158]"
3,2018-04-03 16:23:00,cmhuynh@berkeley.edu,Claudia Marie Huynh,4033,1,2,1,1,0,3,...,NaN,NaN,NaN,NaN,NaN,"(37.7944308, -122.2663244)","(37.7944308, -122.2663244)","(37.7944308, -122.2663244)",NaN,NaN
4,2018-04-03 18:29:00,luseb1997@berkeley.edu,Lubna Sebastian,4010,2,4,1,4,2,2,...,This picture shows a run-down car in front of ...,NaN,NaN,NaN,NaN,"[37.835473, -122.269372]","[37.8357525, -122.2693543]","[37.8349974, -122.2670556]","(37.831217, -122.2719625)","[37.8349974, -122.2670556]"
5,2018-04-03 20:06:00,cseneca@berkeley.edu,Cheyenne Seneca,4027,4,5,4,5,0,5,...,Image #5 shows a car parked on the curbside of...,NaN,NaN,NaN,NaN,"[37.8095395, -122.2793895]","[37.808423, -122.28035]","[37.8095395, -122.2793895]","[37.8095395, -122.2793895]","[37.8095395, -122.2793895]"
6,2018-04-04 13:07:00,shirleywang97@berkeley.edu,Shirley Wang,4235,1,1,1,3,0,4,...,"Along this road (Shattuck Avenue), there are r...",NaN,NaN,NaN,NaN,"[37.8588861, -122.2641351]","[37.8585341, -122.2669003]","[37.8585818, -122.266545]","[37.85860570000001, -122.2663673]","[37.8586512, -122.2667581]"
7,2018-04-04 17:23:00,skylersaunders@berkeley.edu,Skyler Saunders,4224,2,2,1,3,0,4,...,Overgrown plants common for entire block,NaN,NaN,NaN,NaN,"[37.8739828, -122.2697088]","[37.8745567, -122.2696666]","[37.8744325, -122.2700632]","[37.8743008, -122.2708591]","[37.8741403, -122.2708054]"
8,2018-04-04 17:58:00,jacob_mccall@berkeley.edu,Jacob McCall,4224,1,1,1,2,0,3,...,"Commercial side of block, quality restaurants ...",NaN,NaN,NaN,NaN,"[37.8776203, -122.268158]","(37.8752396, -122.2695878)","(37.8752396, -122.2695878)","[37.8786289, -122.2699082]","(37.8752396, -122.2695878)"
9,2018-04-04 18:37:00,m.e.alvarez@berkeley.edu,Maria Alvarez,4007,1,2,1,2,0,4,...,NaN,NaN,NaN,NaN,NaN,"[37.8377878, -122.2670532]","[37.83794839999999, -122.2664965]","[37.8379301, -122.2664889]","[37.8382732, -122.2666876]",NaN
10,2018-04-05 00:11:00,Lindagao97@berkeley.edu,Linda Gao,4027,4,3,1,5,2,3,...,There was a broke window on the car with duck-...,NaN,NaN,NaN,NaN,"[37.8126664, -122.2784813]","[37.8135805, -122.2786585]","[37.8504074, -122.2607422]","[37.8127729, -122.2751038]","(37.8103872, -122.2769914)"
11,2018-04-05 01:40:00,uzzi.valencia@berkeley.edu,Uzziel Valencia,4028,1,2,1,3,0,5,...,"Side entrance to ""The Uptown"" apartment comple...",NaN,NaN,NaN,NaN,"[37.808984, -122.2688467]","[37.8098089, -122.2698639]","[37.8098089, -122.2698639]","[37.810076, -122.2718032]","[37.8093988, -122.2717174]"
12,2018-04-05 16:31:00,cjoiwest@berkeley.edu,Celeste West,4007,1,3,1,2,2,3,...,This is the block face that It's All Good Bake...,NaN,NaN,NaN,NaN,"[37.8411069, -122.2696202]","[37.8411069, -122.2696202]","[37.8411069, -122.2696202]","[37.8411069, -122.2696202]","[37.8411069, -122.2696202]"
13,2018-04-05 16:32:00,mbfmotus@berkeley.edu,Marianne Motus,4007,2,2,1,3,0,3,...,Smirnoff bottle broken near the bus stop for t...,NaN,NaN,NaN,NaN,"[37.8400156, -122.2693646]","[37.8409343, -122.2695759]","[37.8403556, -122.2693986]","[37.84372219999999, -122.2694983]","[37.8396398, -122.2692436]"
14,2018-04-05 16:57:00,olav_hb_95@hotmail.com,Olav H. Buvarp,4214,1,1,1,2,0,1,...,"could be a lawn from Brittain, tah?",NaN,NaN,NaN,NaN,"[37.892107, -122.2686011]","[37.8921174, -122.2682023]","[37.89114199999999, -122.267919]","[37.8909272, -122.2677149]","[37.89150860000001, -122.2682466]"
15,2018-04-05 18:49:00,michaelobuchi@gmail.com,Michael Obuchi,4005,1,2,1,2,0,1,...,NaN,NaN,NaN,NaN,NaN,"[37.8487666, -122.265639]","[37.8487666, -122.265639]","[37.8487666, -122.265639]",NaN,NaN
16,2018-04-05 20:08:00,cmstahl@berkeley.edu,Caitlin Stahl,4205,1,1,1,2,0,3,...,NaN,NaN,NaN,NaN,NaN,"[37.88495109999999, -122.2964671]","[37.88495109999999, -122.2964671]","[37.88495109999999, -122.2964671]",NaN,NaN
17,2018-04-05 21:43:00,hmveazey@berkeley.edu,Helen Veazey,4014,1,3,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,"[37.8200739, -122.2735453]","(37.8207387, -122.2733758)","[37.8201836, -122.2728989]",NaN,NaN
18,2018-04-05 22:12:00,hiroprop@berkeley.edu,Hiroaki Endo,4205,1,1,1,1,0,1,...,The only one house I felt dirty and not well-m...,NaN,NaN,NaN,NaN,"[37.889766, -122.2953818]","[37.886261, -122.293715]","[37.8858589, -122.294961]","[37.889826, -122.2954534]","[37.8887222, -122.2959355]"
19,2018-04-05 23:36:00,jennyfeng@berkeley.edu,Jenny Feng,4212,1,1,1,1,0,3,...,This “Berkeley Stands United Against Hate” sig...,NaN,NaN,NaN,NaN,"[37.9012581, -122.2771079]","[37.9009049, -122.2749812]","[37.9001245, -122.2740065]","(37.8975481, -122.2752271)","(37.8975481, -122.2752271)"
20,2018-04-06 00:36:00,charlie_xu21@berkeley.edu,Zhonghao Xu,4213,1,1,1,1,0,1,...,Photo 5 shows the gardening project. This pict...,NaN,NaN,NaN,NaN,"[37.8851159, -122.2779496]","[37.885588, -122.2798104]","[37.8851888, -122.279899]","[37.8848722, -122.2782598]","[37.8848819, -122.2788357]"
21,2018-04-06 01:02:00,cassidymershon@berkeley.edu,Cassidy,4229,1,3,1,3,0,3,...,many cars parked outside one house,NaN,NaN,NaN,NaN,"[37.8652143, -122.2721015]","[37.8652143, -122.2721015]","[37.8666209, -122.2610857]","[37.8657811, -122.2714627]","[37.8653179, -122.2705484]"
22,2018-04-06 14:46:00,alyssa_mailani@berkeley.edu,Alyssa Yee,4006,1,2,1,2,0,2,...,This newly remodeled house has a nice garden f...,NaN,NaN,NaN,NaN,"[37.8450757, -122.2629739]","[37.84544959999999, -122.2633948]","[37.8448857, -122.264569]","[37.8450259, -122.2617032]","[37.8450597, -122.2628742]"
23,2018-04-06 03:51:00,hzhang45@berkeley.edu,Haifeng Zhang,4028,1,4,1,2,0,4,...,This college and cannabis museum explicitly de...,NaN,NaN,NaN,NaN,"[37.80888900000001, -122.269107]","[37.8079974, -122.2700635]","[37.8093078, -122.2700411]","[37.8109321, -122.2688577]","[37.8073287, -122.2697531]"
24,2018-04-06 10:47:00,jiwan@berkeley.edu,Jiwan Kim,4206,1,1,1,1,0,2,...,The road seems to be for passing through the n...,NaN,NaN,NaN,NaN,"[37.8862411, -122.2875189]","[37.885027, -122.2874746]","[37.8860563, -122.286057]","[37.8858056, -122.2866329]","[37.8855941, -122.2857136]"
25,2018-04-06 12:19:00,bcadena1@berkeley.edu,Beatriz,4201,1,2,1,2,0,2,...,I went into this store and I talked to the own...,NaN,NaN,NaN,NaN,"[37.8907572, -122.292879]","[37.8907572, -122.292879]","[37.89577510000001, -122.2950717]","[37.8906774, -122.2934383]","[37.8904975, -122.2929812]"
26,2018-04-06 12:21:00,_r0saa@berkeley.edu,Rosa Velez Huerta,4206,1,1,1,1,0,2,...,NaN,NaN,NaN,NaN,NaN,"[37.8909522, -122.290452]","[37.8905632, -122.2899403]","[37.8909251, -122.2909299]",NaN,NaN
27,2018-04-06 13:32:00,kfsmith@berkeley.edu,Kimieko Smith,4203,1,1,1,2,1,2,...,"This was sitting in someones yard, a bit out o...",NaN,NaN,NaN,NaN,"[37.8956333, -122.302757]","[37.8949333, -122.3043737]","[37.8957431, -122.3028227]","[37.895842, -122.300498]","[37.893876, -122.303626]"
28,2018-04-06 13:52:00,rermatinger@berkeley.edu,Rachel Ermatinger,4031,2,5,1,5,0,3,...,Entrance to the police station located next to...,NaN,NaN,NaN,NaN,"[37.8008399, -122.2785755]","[37.8002319, -122.2773072]","[37.80009, -122.2751666]","[37.8008399, -122.2785755]","[37.7992266, -122.2748705]"
29,2018-04-06 14:46:00,suzieq1198@berkeley.edu,Suzie Hernandez,4030,2,5,1,3,1,4,...,NaN,NaN,NaN,NaN,NaN,"[37.8027575, -122.2688669]","[37.8012787, -122.2674555]","[37.8023002, -122.2697531]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2018-04-06 18:14:00,asiafirebaugh@berkeley.edu,Asia Firebaugh,4010,1,1,1,2,0,3,...,NaN,NaN,NaN,NaN,NaN,"[37.8271231, -122.2756383]","(37.831217, -122.2719625)","[37.8277169, -122.2743831]","[37.8287646, -122.2741837]","[37.8287189, -122.2724746]"
38,2018-04-06 18:29:00,mtmunoz@berkeley.edu,Mary Munoz,4010,3,3,1,4,4,2,...,"When I was first approaching this house, I tho...",NaN,NaN,NaN,NaN,"[37.826699, -122.271904]","[37.8262351, -122.2694515]","[37.82578600000001, -122.269671]","[37.8263723, -122.2711709]","[41.7741786, -92.7282354]"
39,2018-04-06 18:25:00,corinne.biencourt@berkeley.edu,Corinne Biencourt,4028,1,2,1,2,0,1,...,“Rudy’s Can’t Fail Café” where a family with a...,NaN,NaN,NaN,NaN,"[37.8078968, -122.2718448]","[37.8076924, -122.2720349]","[37.80745539999999, -122.2715918]","[37.807892, -122.270798]","[37.8079823, -122.2703931]"
40,2018-04-06 18:41:00,jtuttle@berkeley.edu,Johnathon Tuttle,4224,1,1,1,2,0,3,...,This picture was taken on Shattuck in front of...,NaN,NaN,NaN,NaN,"[37.8754375, -122.2695759]","[37.8720781, -122.265965]","[37.8768558, -122.2704667]","[37.8753391, -122.2700189]","[37.8759523, -122.2690818]"
41,2018-04-06 20:48:00,lizbethzarate@berkeley.edu,Lizbeth Zarate,4213,1,1,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,"[37.8931876, -122.2794117]","[37.8926132, -122.2800921]","[37.8938549, -122.2780826]","[37.8938549, -122.2780826]",NaN
42,2018-04-06 19:03:00,jmes@berkley.edu,Julia Mes,4204,1,1,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,"[37.8843701, -122.3037175]","[37.88434549999999, -122.3037084]","[37.8844146, -122.3037339]","[37.8839881, -122.3018356]",NaN
43,2018-04-06 19:14:00,daisy_gonzalez@berkeley.edu,Daisy Gonzalez,4235,1,2,1,2,0,3,...,Other side of the empty parking lot. Conditio...,NaN,NaN,NaN,NaN,"(37.859365, -122.2680467)","(37.859365, -122.2680467)","(37.859365, -122.2680467)","[37.8631249, -122.2688891]","(37.859365, -122.2680467)"
44,2018-04-06 19:20:00,jpamatian@berkeley.edu,Jessica-May S. Pamatian,4033,1,3,1,2,0,3,...,NaN,NaN,NaN,NaN,NaN,"(37.7944308, -122.2663244)","(37.7944308, -122.2663244)","[39.729123, -104.9461872]",NaN,NaN
45,2018-04-06 19:45:00,cueponi@berkeley.edu,Cueponi Armenta-Roman,4202,1,5,1,2,0,3,...,NaN,NaN,NaN,NaN,NaN,"[37.898298, -122.300113]","[37.8999672, -122.2990742]","[37.8971698, -122.3013838]",NaN,NaN
46,2018-04-06 19:58:00,reuben_sarwal@berkeley.edu,Reuben Sarwal,4006,2,2,1,3,0,4,...,NaN,NaN,NaN,NaN,NaN,"[37.8424285, -122.2650734]","[37.8423572, -122.2654109]","[37.8422791, -122.2660312]","[37.84233680000001, -122.265721]",NaN
47,2018-04-06 20:36:00,rafay@berkeley.edu,Muhammad Rafay Ahmad,4239.01,1,1,1,2,0,3,...,This was the only open empty space on the block,NaN,NaN,NaN,NaN,"[37.8539862, -122.263417]","[37.8538335, -122.2634616]","[37.8543688, -122.2630182]","[37.854196, -122.2634613]","[37.85672080000001, -122.2555046]"
48,2018-04-06 20:57:00,admalinis@berkeley.edu,Alyssa Malinis,4239.01,1,3,1,3,1,3,...,This is located right across Ashby Bart. locat...,NaN,NaN,NaN,NaN,"[37.8545345, -122.2688413]","[37.8544007, -122.2713703]","[37.8533036, -122.2691771]","[37.85301510000001, -122.2712152]","[37.8525893, -122.2695929]"
49,2018-04-06 21:38:00,knoa15@berkeley.edu,Kanawai Noa,4030,1,2,1,3,0,1,...,NaN,NaN,NaN,NaN,NaN,"[37.805542, -122.2960263]","[37.798829, -122.2719684]","[37.798575, -122.2748473]",NaN,NaN
50,2018-04-06 21:41:00,gloria.beltran@berkeley.edu,Gloria Angelica Beltran Niebla,4006,1,3,1,3,0,4,...,Park and playground with recreational equipmen...,NaN,NaN,NaN,NaN,"[37.8437144, -122.2652336]","[37.8437245, -122.2653223]","[37.843254, -122.2657654]","[37.842641, -122.268202]","[37.842641, -122.268202]"
51,2018-04-06 22:15:00,dpadilla@berkeley.edu,David Padilla,4203,1,2,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,"[37.8897481, -122.299322]","[37.8888758, -122.2988736]","[37.8882519, -122.29878]",NaN,NaN
52,2018-04-06 22:17:00,sabrina.ann.r@berkeley.edu,Sabrina Rodrigues,4206,1,1,1,2,0,4,...,An image of a house on the block face advertis...,NaN,NaN,NaN,NaN,"[37.8906545, -122.2888752]","[37.889193, -122.287928]","[37.88939999999999, -122.288658]","[37.8896455, -122.2886707]","[37.8900613, -122.2888922]"
53,2018-04-06 22:28:00,estrand@berkeley.edu,Emma Strand,4030,1,2,1,3,0,4,...,NaN,NaN,NaN,NaN,NaN,"[37.8004548, -122.2717025]","[37.8000318, -122.271441]","[37.8006528, -122.2730764]",NaN,NaN
54,2018-04-06 22:28:00,dnwhite@berkeley.edu,Devyn White,4239.01,1,1,1,2,0,3,...,NaN,NaN,NaN,NaN,NaN,"[37.8472473, -122.2688567]","[37.8500107, -122.2698417]","[37.8472125, -122.2691246]",NaN,NaN
55,2018-04-06 22:38:00,sierratimmons@berkeley.edu,Sierra Timmons,4033,1,2,1,2,0,1,...,This picture shows how the majority of the blo...,NaN,NaN,NaN,NaN,"[37.7946519, -122.2692436]","[43.66028, -79.3535681]","[43.66028, -79.3535681]","[37.7946519, -122.2692436]","[43.66028, -79.3535681]"
56,2018-04-06 22:44:00,chris.yamamoto@berkeley.edu,Christopher Yamamoto,4203,1,1,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,"[37.889354, -122.3029784]","[37.889354, -122.3029784]","[37.887816, -122.3025355]",NaN,NaN
57,2018-04-06 22:46:00,kpalos@berkeley.edu,Karla Betel Palos Castellanos,4205,1,1,1,2,0,1,...,Chevy Volt getting charged at home installed c...,NaN,NaN,NaN,NaN,"[37.8902203, -122.2941415]","[37.8820609, -122.2919903]","[37.7756836, -122.4464122]","[37.2299727, -95.7011567]","[37.8820609, -122.2919903]"
58,2018-04-06 22:51:00,ahinkston@berkeley.edu,Adrienne Hinkston,4213,1,1,1,1,1,2,...,NaN,NaN,NaN,NaN,NaN,"[37.8955889, -122.2866329]","(37.8911093, -122.2813663)","(37.8911093, -122.2813663)","(37.8911093, -122.2813663)","(37.8911093, -122.2813663)"
59,2018-04-06 23:04:00,jyotical23@berkeley.edu,Jyoti Swamy,4014,5,5,3,5,3,5,...,This house was the last house that I saw on my...,NaN,NaN,NaN,NaN,"[37.81833, -122.2675978]","(37.8207387, -122.2733758)","(37.8207387, -122.2733758)","(37.8207387, -122.2733758)","(37.8207387, -122.2733758)"
60,2018-04-06 22:55:00,isabelvalencia@berkeley.edu,Isabel,4229,2,3,1,3,0,2,...,A truly shocking view. This was a line of shut...,NaN,NaN,NaN,NaN,"[37.8715132, -122.2708582]","[37.8723153, -122.2687169]","[37.8714847, -122.2724072]","[37.8708248, -122.2674015]","[37.8724616, -122.2676263]"
61,2018-04-06 23:03:00,avjit.singh@berkeley.edu,Avjit Singh,4201,1,1,1,1,0,2,...,Another picture of Memorial park.,NaN,NaN,NaN,NaN,"[37.890969, -122.2883781]","[37.8909571, -122.2917688]","[37.894636, -122.290677]","[37.894293, -122.29027]","[37.894636, -122.290677]"
62,2018-04-06 23:09:00,hakob.mesropian@berkeley.edu,Hakob Mesropian,4204,1,1,1,1,0,1,...,This image shows a sign which is hanging at th...,NaN,NaN,NaN,NaN,"[37.8852245, -122.3003161]","[37.8852245, -122.3003161]","[37.8852245, -122.3003161]","[37.8852245, -122.3003161]","[37.8852245, -122.3003161]"
63,2018-04-06 23:19:00,skybross18@berkeley.edu,Schuyler Ross,4031,5,3,2,3,0,3,...,This notice foretells of a massive development...,NaN,NaN,NaN,NaN,"(37.8022742, -122.2755009)","[37.80346309999999, -122.272345]","[37.80346309999999, -122.272345]","[37.80280270000001, -122.272921]","(37.8022742, -122.2755009)"
64,2018-04-06 23:33:00,zuilmamg@berkeley.edu,Zuilma Garcia,4202,1,1,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,"[37.8906895, -122.2938804]","[37.890574, -122.2959277]","[37.8905341, -122.2982168]","[37.8905313, -122.2976379]",NaN
65,2018-04-06 23:34:00,kpercz@berkeley.edu,katie percz,4239.01,1,2,1,2,1,3,...,House that is boarded and possibly abandoned.,NaN,NaN,NaN,NaN,"[37.8540828, -122.2643151]","[37.8526713, -122.2654075]","[37.8523349, -122.264785]","[37.85299029999999, -122.2659426]","[37.8523349, -122.264785]"
66,2018-04-06 23:37:00,ygcastillo@berkeley.edu,Yoselin Gonzalez Castillo,4214,1,1,1,1,0,3,...,NaN,NaN,NaN,NaN,NaN,"[37.8853002, -122.2744641]","[37.8874106, -122.2736742]","[37.8886296, -122.2728208]",NaN,NaN

In [5]:
class_data = pd.read_csv('data/SP18 Social Disorder.csv', index_col=None)
class_data['Census Tract'] = class_data['Census Tract'].apply(fix_tract)

get_coords(class_data, alameda = geojson.load(open('data/alameda-2010.geojson')))

GeocoderTimedOut: Service timed out

That's a lot of columns! Now that our data is inside the `class_data` variable, we can ask that varible for some information. We can get a list of the column names with the `.columns` attribute of the table:

In [ ]:
class_data.columns

Let's clean up the data a little bit. We can use '.drop' to remove extra columns and '.rename' to create shorter labels for our columns

In [ ]:
class_data = class_data.drop([
    'House Number', 
    'What drinking establishments are on the block face? (check all that apply)',
    'What kind of signs are visible? (check all that apply)',
    'Are there any recreational facilities on the block face?',
    'Other thoughts or comments'
    ], axis = 1)

class_data = class_data.rename(columns= {
    'On a scale of 1 - 5, where 1 is "None" and 5 is "A Lot", how many empty beer or liquor bottles are visible in streets, yards, or alleys? ': 'Amount of Visible Empty Liquor Bottles [Scale: 1 (None) to 5 (A Lot)]', 
    'On a scale of 1 - 5, where 1 is "None" and 5 is "A Lot",  how many cigarette or cigar butts or discarded cigarette packages  are on the sidewalk or in the gutters? ': 'Amount of Visible Cigarette Debris [Scale: 1 (None) to 5 (A Lot)]',
    'On a scale of 1 - 5, where 1 is "None" and 5 is "A Lot",  how many condoms are present on the sidewalk, in the gutters, or street of block face? ': 'Amount of Visible Condoms [Scale: 1 (None) to 5 (A Lot)]',
    'On a scale of 1 - 5, where 1 is "None" and 5 is "A Lot", how much garbage, litter, or broken glass in the street or on the sidewalks? ': 'Amount of Visible Trash [Scale: 1 (None) to 5 (A Lot)]',
    'On a scale of 1-5 where 1 is "Friendly Responses / Greetings / Helpful" and 5 is "Treated with Suspicion", How were you regarded by the people in the block face?': 'Attitude of Residents [Scale: 1 (Friendly and Helpful) to 5 (Suspicious)]',
    'On a scale of 1 - 4, where 1 is "Very well kept / good condition" and 4 is "Poor / badly deteriorated condition", in general, how would you rate the condition of buildings on the block face? (includes residential buildings, recreational facilities, manufacturing plants, business / industrial headquarters, etc)' : 'Condition of Buildings [Scale: 1 (Well Kept) to 4 (Poor)]',
    'On a scale of 1 - 4, where 1 is "No fencing" and 4 is "High mesh fencing with barbed wire or spiked tops", is there fencing and what kind? (includes all property)': 'Presence of Fencing [Scale: 1 (No fencing) to 4 (High mesh with barbed wire or spiked tops)]',
    'On a scale of 1-3, where 1 is "Few or none" and 3 is a "Most/all of it", how many trees are linking the street of the block face? ': 'Amount of street linked with trees [Scale: 1 (None or Few) to 3 (Most or All)]',
})

class_data['What kinds of establishments are there on the block face? Select all that apply.'] = class_data['What kinds of establishments are there on the block face? Select all that apply.'].str.replace('Bodega, deli, corner-store, convenience store', 'Bodega deli corner-store convenience store')
class_data['What kinds of establishments are there on the block face? Select all that apply.'] = class_data['What kinds of establishments are there on the block face? Select all that apply.'].str.replace('Payday lenders, check cashers, or pawn shops', 'Payday lenders check cashers or pawn shops')
class_data['What kinds of establishments are there on the block face? Select all that apply.'] = class_data['What kinds of establishments are there on the block face? Select all that apply.'].str.replace('Professional offices \(doctor, dentist, lawyer, accountant, real estate\)', 'Professional offices (doctor dentist lawyer accountant real estate)')

class_data.head()

In [ ]:
len(class_data)

Let's get some summary statistics and do some plotting.

How many of you reported on which census tracts?

In [ ]:
class_data['Census Tract'].value_counts()


We can use the `.plot.barh()` method to this to visualize the counts:

In [ ]:
class_data['Census Tract'].value_counts().plot.barh()

We can write a short function, `bar_chart_column`, to plot the counts for any of our columns in the table. All we have to do is move the slider:

In [ ]:
def bar_chart_column(column_num):
    bar_chart_data[bar_chart_data.columns[column_num]].value_counts().plot.barh()
    plt.title(bar_chart_data.columns[column_num])

## Removes student identification information, drop questions with checkboxes
bar_chart_data = class_data.iloc[:, 3:21].drop(
    'What kinds of establishments are there on the block face? Select all that apply.',
    axis = 1)

slider = widgets.IntSlider(min=0, max=14,step=1,value=0)
display(widgets.interactive(bar_chart_column, column_num=slider))

Some of the charts are small because there is so much text, try double-clicking the image to increase the size.

We can then ask for these columns and plot their means too. Again, you'll have to double click to zoom in:

In [ ]:
class_data.iloc[:, 4:22].mean().plot.barh()

One of the questions had checkbox answers that listed all of the establishments that were observed by each student in their assigned census tract. Let's create a seperate column for each of the possible options. A value of `1` in the column indicates that the estalishment was observed. A value of `0` indicates that the establishment was not observed.

In [ ]:
establishments = pd.Series([item for sublist in [response.split(', ') for response in class_data.iloc[:, 18]] for item in sublist])

for establishment in establishments.unique():
    establishment_data = []

    for index, row in class_data.iterrows():
        ests = row['What kinds of establishments are there on the block face? Select all that apply.']
        row_establishments = ests.split(', ')
        if establishment in row_establishments:
            establishment_data.append(1)
        else: 
            establishment_data.append(0)
    
    
    class_data[establishment] = establishment_data
    
class_data.head().iloc[:,18:]

In [ ]:
col_sums = []
for col in class_data.iloc[:, 19:].columns:
    col_sums.append(sum(class_data.iloc[:, 19:][col]))

establishment_counts = pd.Series(col_sums, index = class_data.iloc[:, 19:].columns)

establishment_counts.plot.barh()
plt.title(class_data.columns[18])
plt.show()

---

## Mapping

We can also visualize how your responses mapped out over the census tracts. We'll use a library called `folium` to map your observations onto a map of the census tracts, and include popups with your comments and photos.

In [ ]:
alameda = geojson.load(open("data/alameda-2010.geojson"))
myMap = folium.Map(location=(37.8044, -122.2711), zoom_start=11.4)

map_data(myMap, alameda, image_data).save("map1.html")
IFrame('map1.html', width=700, height=400)

Click around census tracts near yours to see if the other students' observations are similar and see if you can eyeball any trends. Check out other areas on the map and see if there are trends for tracts in specific areas. Do specific characteristics cluster in different areas? Which ones? Which characteristsics seem to cluster together? What types of data do you think will correlate with socioeconomic characteristics like median income, poverty rate, education?  Why?

---

# Part 2: Our Metrics<a id='ourmetrics'></a>

Now that you have made some predictions, we can compare our data with socioeconomic data from the U.S. Census for the different tracts we visited and see if we can find evidence to support them. From your data, we can create some point scales that measure different aspects of a neighborhood.

For example, we can make a scale called “social disorder” for the first part of your responses. Let's first subeset our data:

In [ ]:
social_disorder = class_data.iloc[:, 3:13]
social_disorder.head()

Now we'll need to scale the values because all responses were not on the same scale. But for this part, the higher the value the more negative the social disorder was:

In [ ]:
social_disorder = scale_values(social_disorder, list(range(1,10)))
social_disorder.head()

Now that our values are scaled, we can take the mean across all observation for a given census tract for a given column, and then take the mean across columns:

In [ ]:
social_disorder = pd.DataFrame(social_disorder.groupby("Census Tract").mean().mean(axis=1))
social_disorder.columns = ["Social Disorder"]
social_disorder

Remember, the higher the value the more negative we perceived the census tract to be.

We can do the same for our amenities part:

In [ ]:
amenities = class_data.iloc[:, [3] + [14] + list(range(19,41))]
amenities.head()

Certain amenities are positive and indicate desirable conditions in a neighborhood. These characteristics include things like School or Daycares, and supermarkets. Let's create a Data Frame containing only positive amenities

In [ ]:
positive_amentities = amenities[[
    'Census Tract',
    'Banks or credit unions',
    'Chain retail stores',
    'Community center',
    'Eating places/restaurants',
    'Fire station',
    'Parks',
    'Playgrounds',
    'Police station',
    'Public library',
    'Post office',
    'Professional offices (doctor dentist lawyer accountant real estate)',
    'Schools or daycare centers',
    'Supermarkets/grocery stores',
    'Amount of street linked with trees [Scale: 1 (None or Few) to 3 (Most or All)]'
]].rename(columns={'Amount of street linked with trees [Scale: 1 (None or Few) to 3 (Most or All)]': 'Trees'})

positive_amentities['Trees'] = [0 if tree_count == 0 else 1 for tree_count in positive_amentities['Trees']]

To make positive amenities comparable between census tracts, we can find the mean of positive amenities for each census tract. A higher value indicates a more positive census tract

In [ ]:
positive_amentities = pd.DataFrame(positive_amentities.groupby("Census Tract").mean().mean(axis=1))
positive_amentities.columns = ["Positive Amenities"]
positive_amentities

Certain amenities are negative and indicate undesirable conditions in a neighborhood. These characteristics include things like Bars or Fast Food Restaurants. Let's create a Data Frame with only negative amenities

In [ ]:
negative_amentities = amenities[[
    'Census Tract',
    'Auto repair/auto body shop',
    'Bars and alcoholic beverage services',
    'Bodega deli corner-store convenience store',
    'Fast food or take-out places',
    'Gas station',
    'Liquor stores or Marijuana Dispensaries',
    'Manufacturing' ,
    'Payday lenders check cashers or pawn shops',
    'Warehouses'
]]

To make negative amenities comparable between census tracts, we can find the mean of negative amenities for each census tract. A higher value indicates a more negative census tract

In [ ]:
negative_amentities = pd.DataFrame(negative_amentities.groupby("Census Tract").mean().mean(axis=1))
negative_amentities.columns = ["Negative Amenities"]
negative_amentities

---

# Part 3: Census Data<a id='census'></a>

Let's read in some data for census tracts from the [American FactFinder](https://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml):

In [ ]:
official_data = pd.DataFrame.from_csv("data/merged-census.csv", index_col=None)
official_data['Census Tract'] = official_data["Census Tract"].apply(fix_tract)
official_data = official_data.set_index("Census Tract")
official_data

We can add our columns to this table to put it all in one place:

In [ ]:
joined_data = official_data.join(social_disorder).join(positive_amentities).join(negative_amentities).reset_index()
joined_data

---

## Mapping Exploration

Before we quantify the relationship between the census data and our own metrics, let's do some exploratory mapping. We can now add our social disorder and amenities metrics to the popup too!

First we'll map a choropleth of unemployment:

In [ ]:
mapa = folium.Map(location=(37.8044, -122.2711), zoom_start=11.4)
choropleth_overlay(mapa=mapa, column_name="Unemployment %", joined=joined_data, alameda=alameda).save("map2.html")
IFrame('map2.html', width=700, height=400)

Household Median Income:

In [ ]:
mapb = folium.Map(location=(37.8044, -122.2711), zoom_start=11.4)
choropleth_overlay(mapa=mapb, column_name="Household Median Income", joined=joined_data, alameda=alameda).save("map3.html")
IFrame('map3.html', width=700, height=400)

Bachelor's Degree or higher %:

In [ ]:
mapc = folium.Map(location=(37.8044, -122.2711), zoom_start=11.4)
choropleth_overlay(mapa=mapc, column_name="Bachelor's Degree or higher %", joined=joined_data, alameda=alameda).save("map4.html")
IFrame('map4.html', width=700, height=400)

Now our "social disorder":

In [ ]:
mapd = folium.Map(location=(37.8044, -122.2711), zoom_start=11.4)
choropleth_overlay(mapa=mapd, column_name="Social Disorder", joined=joined_data, alameda=alameda).save("map5.html")
IFrame('map5.html', width=700, height=400)

Now "Positive Amenities":

In [ ]:
mapa = folium.Map(location=(37.8044, -122.2711), zoom_start=11.4)
choropleth_overlay(mapa=mapa, column_name="Positive Amenities", joined=joined_data, alameda=alameda).save("map6.html")
IFrame('map6.html', width=700, height=400)

Finally, "Negative Amenities"

In [ ]:
mapa = folium.Map(location=(37.8044, -122.2711), zoom_start=11.4)
choropleth_overlay(mapa=mapa, column_name="Negative Amenities", joined=joined_data, alameda=alameda).save("map7.html")
IFrame('map7.html', width=700, height=400)

What do you notice?

Try copying and pasting one of the mapping cells above and change the `column_name` variable to a different variable (column in our data) you'd like to map, then run the cell!

---

## Variable Distributions

We can also visualize the distributions of these variables according to census tract with [histograms](https://en.wikipedia.org/wiki/Histogram). A histogram will create bins, or ranges, within a variable and then count up the frequency for that bin. If we look at household median income, we may have bins of $10,000, and then we'd count how many tracts fall within that bin:

In [ ]:
def viz_dist(var_name, tract):
    x = joined_data[var_name].dropna()
    reindexed = joined_data.set_index("Census Tract")
    
    plt.hist(x)
    plt.axvline(x=reindexed.loc[tract, var_name], color = "RED")
    plt.xlabel(var_name, fontsize=18)
    plt.show()

display(widgets.interactive(viz_dist, var_name=list(joined_data.columns[1:]), tract=list(joined_data["Census Tract"])))

What do these distributions tell you?

---


# Part 4: Correlation<a id='correlation'></a>

Let's first analyze income levels. We have sorted the data according to income level. Compare the income levels to the level of social disorder and amenities. Is there a correlation you can spot(as one increases or decreases, does the other do the same)?

In [ ]:
joined_data.sort_values("Household Median Income", ascending=False)[["Household Median Income", "Social Disorder", "Positive Amenities", "Negative Amenities"]]

Did you look at the whole table? A common mistake is to assume that since the top 10 results follow or do not follow a pattern, the rest don't. Real life data is often messy and not clean. Does the correlation continue throughout the whole table (a.k.a. as income decreases the points decrease) or is there no pattern? What does this mean about the data?

---

Eyeballing patterns is not the same as a statisical measure of a correlation; you must quantify it with numbers and statistics to prove your thoughts. Looking at the tables is not a very statistical measure of how much a variable correlates to the results. What does it mean for a variable "income" to match 7 out of the top 15 social disorder points? Does this correlate to the rest of the results? How well does it correlate? 

### The correlation coefficient - *r*

> The correlation coefficient ranges from −1 to 1. A value of 1 implies that a linear equation describes the relationship between X and Y perfectly, with all data points lying on a line for which Y increases as X increases. A value of −1 implies that all data points lie on a line for which Y decreases as X increases. A value of 0 implies that there is no linear correlation between the variables. ~Wikipedia

*r* = 1: the scatter diagram is a perfect straight line sloping upwards

*r* = -1: the scatter diagram is a perfect straight line sloping downwards.

Let's calculate the correlation coefficient between acceleration and price. We can use the `corr` method to generate a correlation matrix of our `joined_data`:

In [12]:
joined_data.corr()

NameError: name 'joined_data' is not defined

You'll notice that the matrix is mirrored with a `1.000000` going down the diagonal. This matrix yields the correlation coefficient for each variable to every other variable in our data.

For example, if we look at the `Social Disorder`, we see that there is a `.487102` correlation, implying that there is a strong positive relationship between our constructed social disorder variable and the unemployment rate (i.e., as one goes up the other goes up too). What else do you notice?

---

# Part 5: Regression<a id='regression'></a>

We will now use a method called linear regression to make a graph that will show the best fit line that correlates to the data. The slope of the line will show whether it is positively correlated or negatively correlated. The code that we've created so far has helped us establish a relationship between our two variables. Once a relationship has been established, it's time to create a model of the data. To do this we'll find the equation of the **regression line**!

The regression line is the **best fit** line for our data. It’s like an average of where all the points line up. In linear regression, the regression line is a perfectly straight line! Below is a picture showing the best fit line.

![image](http://onlinestatbook.com/2/regression/graphics/gpa.jpg)

As you can infer from the picture, once we find the **slope** and the **y-intercept** we can start predicting values! The equation for the above regression to predict university GPA based on high school GPA would look like this:

$UNIGPA_i= \alpha + \beta HSGPA + \epsilon_i$

The variable we want to predict (or model) is the left side `y` variable, the variable which we think has an influence on our left side variable is on the right side. The $\alpha$ term is the y-intercept and the $\epsilon_i$ describes the randomness.

We can set up a visualization to choose which variables we want as `x` and `y` and then plot the line of best fit:

In [ ]:
def f(x_variable, y_variable):
    
    if "median house value" in [x_variable, y_variable]:
        drop_na = joined_data.dropna()  # if not all census tracts have measure
        x = drop_na[x_variable]
        y = drop_na[y_variable]
        
    else:
        x = joined_data[x_variable]
        y = joined_data[y_variable]
    
    plt.scatter(x, y)
    plt.xlabel(x_variable, fontsize=18)
    plt.ylabel(y_variable, fontsize=18)
    plt.plot(np.unique(x), np.poly1d(np.polyfit(x, y, 1))(np.unique(x)), color="r") #calculate line of best fit
    plt.show()
    slope, intercept, r_value, p_value, std_err = stats.linregress(x, y) #gets the r_value
    print("R-squared: ", r_value**2)
    
display(widgets.interactive(f, x_variable=list(joined_data)[1:], y_variable=list(joined_data)[1:]))

***Note:*** The `R-squared` tells us how much of the variation in the data can be explained by our model.

Why is this a better method than just sorting tables? First of all, we are now comparing all of the data in the graph to the variable, rather than comparing what our eyes glance quickly over. It shows a more complete picture than just saying "There are some similar results in the top half of the sorted data". Second of all, the graph gives a more intuitive sense to see if your variable does match the data. You can quickly see if the data points match up with the regression line. Lastly, the r-squared value will give you a way to quantify how good the variable is to explain the data.

One of the beautiful things about computer science and statistics is that you do not need to reinvent the wheel. You don't need to know how to calculate the `R-squared` value, or draw the regression line; someone has already implemented it! You simply need to tell the computer to calculate it. However, if you are interested in these mathematical models, take a data science or statistics course!

---

***Please fill out our [feedback form](https://goo.gl/forms/PR1OQvX3bMIfype62)!***